
			<!-- 主体 -->
				<div class="item">
					<!-- 日期分类 -->
					<div class="mark">{{now}}</div>
					<ul class="posts large">
						<!-- 文章 -->
						<li ng-repeat="post in posts">     <!-- 遍历的对象,获取属性值 -->  
							<span href="javascript:;" class="tag" ng-if="post.column.name">{{post.column.name}}</span>
							<div class="cont">
								<h3>{{post.title}}</h3>
								<div class="brief">
									<p ng-if="post.display_style!=10003" ng-class="{only:post.display_style==10001}">{{post.abstract}}</p>
									<div ng-class="{thumb:post_style!=10002,gallery:post.display_style==10003}" ng-if="post.display_style!=10001">
											<img ng-src="{{post.thumbs[0].small.url}}" ng-if="post.display_style==10002">
											<div class="img-box" ng-if="post.display_style==10003">
													<!-- 判断是否存在div下面是否还有div.img-box,10002是有的 -->
													<img ng-src="{{post.thumbs[0].small.url}}" >
												</div>
									</div>
								</div>							
							</div>
						</li>
						
					</ul>
				</div>
		